* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 50px;
  background-color: rgb(255, 0, 0);
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 30px;
  background-color: rgb(255, 0, 0);
  padding: 20px;
  border: black 3px solid;
}

section {
  flex: 70%;
  background-color: rgb(255, 0, 0);
  padding: 20px;
  border: black 3px solid;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: rgb(255, 0, 0);
  border: black 3px solid;
}

@media screen and (max-width: 700px) {
  nav,
  .row {
    flex-direction: column;
  }
}

h3 {
  padding: 50px;
  background-color: rgb(255, 0, 0);
  text-align: center;
}

.main img {
  width: 20%;
  float: left;
}

h5 {
  text-align: center;
  padding: 50px;
  width: auto;
  text-decoration-line: underline;
}
